{% load static %}
<div class="dlabnav">
    <div class="dlabnav-scroll">
        <ul class="metismenu" id="menu">
            <li><a class="has-arrow " href="javascript:void()" aria-expanded="false">
                    <i class="fas fa-home"></i>
                    <span class="nav-text">Dashboard</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="{% url 'fillow:index' %}">Dashboard Light</a></li>
                    <li><a href="{% url 'fillow:index-2' %}">Dashboard Dark</a></li>
                    <li><a href="{% url 'fillow:project-page' %}">Project</a></li>
                    <li><a href="{% url 'fillow:contacts' %}">Contacts</a></li>
                    <li><a href="{% url 'fillow:kanban' %}">Kanban</a></li>
                    <li><a href="{% url 'fillow:calendar-page' %}">Calendar</a></li>
                    <li><a href="{% url 'fillow:message' %}">Messages</a></li>	
                </ul>

            </li>
            <li>
                <a class="has-arrow" href="javascript:void(0);" aria-expanded="false">
                    <i class="fas fa-chart-line"></i>
                    <span class="nav-text">CMS <span class="badge badge-xs badge-danger ms-2">New</span></span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="{% url 'fillow:content' %}">Content</a></li>
                    <li><a href="{% url 'fillow:add-content' %}">Add Content</a></li>
                    <li><a href="{% url 'fillow:menu' %}">Menus</a></li>
                    <li><a href="{% url 'fillow:email-template' %}">Email Template</a></li>
                    <li><a href="{% url 'fillow:add-email' %}">Add Email</a></li>
                    <li><a href="{% url 'fillow:blog' %}">Blog</a></li>
                    <li><a href="{% url 'fillow:add-blog' %}">Add Blog</a></li>
                    <li><a href="{% url 'fillow:blog-category' %}">Blog Category</a></li>		
                </ul>
            </li>
            <li><a class="has-arrow " href="javascript:void()" aria-expanded="false">
                <i class="fas fa-info-circle"></i>
                    <span class="nav-text">Apps</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="{% url 'fillow:app-profile' %}">Profile</a></li>
                    <li><a href="{% url 'fillow:edit-profile' %}">Edit Profile</a></li>
                    <li><a href="{% url 'fillow:post-details' %}">Post Details</a></li>
                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">Email</a>
                        <ul aria-expanded="false">
                            <li><a href="{% url 'fillow:email-compose' %}">Compose</a></li>
                            <li><a href="{% url 'fillow:email-inbox' %}">Inbox</a></li>
                            <li><a href="{% url 'fillow:email-read' %}">Read</a></li>
                        </ul>
                    </li>
                    <li><a href="{% url 'fillow:app-calender' %}">Calendar</a></li>
                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">Shop</a>
                        <ul aria-expanded="false">
                            <li><a href="{% url 'fillow:ecom-product-grid' %}">Product Grid</a></li>
							<li><a href="{% url 'fillow:ecom-product-list' %}">Product List</a></li>
							<li><a href="{% url 'fillow:ecom-product-detail' %}">Product Details</a></li>
							<li><a href="{% url 'fillow:ecom-product-order' %}">Order</a></li>
							<li><a href="{% url 'fillow:ecom-checkout' %}">Checkout</a></li>
							<li><a href="{% url 'fillow:ecom-invoice' %}">Invoice</a></li>
							<li><a href="{% url 'fillow:ecom-customers' %}">Customers</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a class="has-arrow " href="javascript:void()" aria-expanded="false">
                    <i class="fas fa-chart-line"></i>
                    <span class="nav-text">Charts</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="{% url 'fillow:chart-flot' %}">Flot</a></li>
					<li><a href="{% url 'fillow:chart-morris' %}">Morris</a></li> 
					<li><a href="{% url 'fillow:chart-chartjs' %}">Chartjs</a></li>
					<li><a href="{% url 'fillow:chart-chartist' %}">Chartist</a></li>
					<li><a href="{% url 'fillow:chart-sparkline' %}">Sparkline</a></li>
					<li><a href="{% url 'fillow:chart-peity' %}">Peity</a></li>
                </ul>
            </li>
            <li><a class="has-arrow " href="javascript:void()" aria-expanded="false">
                    <i class="fab fa-bootstrap"></i>
                    <span class="nav-text">Bootstrap</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="{% url 'fillow:ui-accordion' %}">Accordion</a></li>
					<li><a href="{% url 'fillow:ui-alert' %}">Alert</a></li>
					<li><a href="{% url 'fillow:ui-badge' %}">Badge</a></li>
					<li><a href="{% url 'fillow:ui-button' %}">Button</a></li>
					<li><a href="{% url 'fillow:ui-modal' %}">Modal</a></li>
                    <li><a href="{% url 'fillow:ui-button-group' %}">Button Group</a></li>
                    <li><a href="{% url 'fillow:ui-list-group' %}">List Group</a></li>
                    <li><a href="{% url 'fillow:ui-card' %}">Cards</a></li>
                    <li><a href="{% url 'fillow:ui-carousel' %}">Carousel</a></li>
                    <li><a href="{% url 'fillow:ui-dropdown' %}">Dropdown</a></li>
                    <li><a href="{% url 'fillow:ui-popover' %}">Popover</a></li>
                    <li><a href="{% url 'fillow:ui-progressbar' %}">Progressbar</a></li>
                    <li><a href="{% url 'fillow:ui-tab' %}">Tab</a></li>
                    <li><a href="{% url 'fillow:ui-typography' %}">Typography</a></li>
                    <li><a href="{% url 'fillow:ui-pagination' %}">Pagination</a></li>
                    <li><a href="{% url 'fillow:ui-grid' %}">Grid</a></li>

                </ul>
            </li>
            <li><a class="has-arrow " href="javascript:void()" aria-expanded="false">
                    <i class="fas fa-heart"></i>
                    <span class="nav-text">Plugins</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="{% url 'fillow:uc-select2' %}">Select 2</a></li> 
					<li><a href="{% url 'fillow:uc-nestable' %}">Nestable</a></li>
					<li><a href="{% url 'fillow:uc-noui-slider' %}">Noui Slider</a></li>
					<li><a href="{% url 'fillow:uc-sweetalert' %}">Sweet Alert</a></li>
                    <li><a href="{% url 'fillow:uc-toastr' %}">Toastr</a></li>
                    <li><a href="{% url 'fillow:map-amcharts' %}">Amcharts Map</a></li>
					<li><a href="{% url 'fillow:map-jqvmap' %}">Jqv Map</a></li>
					<li><a href="{% url 'fillow:uc-lightgallery' %}">Light Gallery</a></li>
                </ul>
            </li>
            <li><a href="{% url 'fillow:transactions' %}" aria-expanded="false">
                <i class="fas fa-user"></i>
                <span class="nav-text">Transactions</span>
            </a>
        </li>
            <li><a href="{% url 'fillow:widget-basic' %}" aria-expanded="false">
                    <i class="fas fa-user"></i>
                    <span class="nav-text">Widget</span>
                </a>
            </li>
            <li><a class="has-arrow " href="javascript:void()" aria-expanded="false">
                    <i class="fas fa-file-alt"></i>
                    <span class="nav-text">Forms</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="{% url 'fillow:form-element' %}">Form Elements</a></li>
                    <li><a href="{% url 'fillow:form-wizard' %}">Wizard</a></li>   
                    <li><a href="{% url 'fillow:form-editor' %}">Editor</a></li>
					<li><a href="{% url 'fillow:form-pickers' %}">Pickers</a></li>
					<li><a href="{% url 'fillow:form-validation' %}">Form Validate</a></li>
                </ul>
            </li>
            <li><a class="has-arrow " href="javascript:void()" aria-expanded="false">
                    <i class="fas fa-table"></i>
                    <span class="nav-text">Table</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="{% url 'fillow:table-bootstrap-basic' %}">Bootstrap</a></li>
					<li><a href="{% url 'fillow:table-datatable-basic' %}">Datatable</a></li>
                </ul>
            </li>
            <li><a class="has-arrow " href="javascript:void()" aria-expanded="false">
                    <i class="fas fa-clone"></i>
                    <span class="nav-text">Pages</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="{% url 'fillow:page-login' %}">Login</a></li>
                    <li><a href="{% url 'fillow:page-register' %}">Register</a></li>
                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">Error</a>
                        <ul aria-expanded="false">
                            <li><a href="{% url 'fillow:page-error-400' %}">Error 400</a></li>
                            <li><a href="{% url 'fillow:page-error-403' %}">Error 403</a></li>
                            <li><a href="{% url 'fillow:page-error-404' %}">Error 404</a></li>
                            <li><a href="{% url 'fillow:page-error-500' %}">Error 500</a></li>
                            <li><a href="{% url 'fillow:page-error-503' %}">Error 503</a></li>
                        </ul>
                    </li>
                    <li><a href="{% url 'fillow:page-lock-screen' %}">Lock Screen</a></li>
                    <li><a href="{% url 'fillow:page-empty' %}">Empty Page</a></li>
                </ul>
            </li>
        </ul>
        <div class="side-bar-profile">
            <div class="d-flex align-items-center justify-content-between mb-3">
                <div class="side-bar-profile-img">
                    <img src="{% static 'fillow/images/user.jpg' %}" alt="">
                </div>
                <div class="profile-info1">
                    <h5>Levi Siregar</h5>
                    <span>leviregar@mail.com</span>
                </div>
                <div class="profile-button">
                    <i class="fas fa-caret-downd scale5 text-light"></i>
                </div>
            </div>	
            <div class="d-flex justify-content-between mb-2 progress-info">
                <span class="fs-12"><i class="fas fa-star text-orange me-2"></i>Task Progress</span>
                <span class="fs-12">20/45</span>
            </div>
            <div class="progress default-progress">
                <div class="progress-bar bg-gradientf progress-animated" style="width: 45%; height:8px;" role="progressbar">
                    <span class="sr-only">45% Complete</span>
                </div>
            </div>
        </div>
        
        <div class="copyright">
            <p>Fillow Sass Admin Template © 2023 All Rights Reserved</p>
            <p class="fs-12">Made with <span class="heart"></span> by DexignLab</p>
        </div>
    </div>
</div>